.task{
    background-color: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.task:hover{
    background-color: #e4e4e4;
}

.task.completed{
    text-decoration: line-through;
}

.task.reminder{
    border-left: 5px green solid;
}

.task.reminder:hover{
    border-left: 5px blue solid;
}
.task h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

